# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# ========================
# Virtual Environment
# ========================
.virtual_documents/
venv/
env/
.env
*.env

# ========================
# Jupyter Notebooks & Checkpoints
# ========================
.ipynb_checkpoints/
notebooks/
*.ipynb

# ========================
# Database
# ========================
data/inventory.db
*.db
*.sqlite

# ========================
# Pycache in Subfolders
# ========================
inference/__pycache__/
Freight Cost Prediction/__pycache__/
Invoice Flagging/__pycache__/

# ========================
# Ipynb Checkpoints in Subfolders
# ========================
Freight Cost Prediction/.ipynb_checkpoints/
Invoice Flagging/.ipynb_checkpoints/
inference/.ipynb_checkpoints/
data/.ipynb_checkpoints/
.ipynb_checkpoints/

# ========================
# App Checkpoint
# ========================
app-checkpoint.py

# ========================
# VS Code
# ========================
.vscode/
*.code-workspace

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db
desktop.ini

# ========================
# Streamlit
# ========================
.streamlit/secrets.toml